.form
  position: relative

.form--contact
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
  border-radius: 1px
  padding: 2em
  padding-top: 0
  max-width: 20em
  width: 100%

.form-field
  background: transparent
  border: 0
  font-size: 0.7em
  margin: 0
  display: block
  width: 100%

.form-btn
  border-radius: 50%
  padding: 0
  height: 3em
  width: 3em
  position: absolute
  bottom: 0
  right: 2em
  transform: translateY(50%)

.form-btn-icn
  max-width: 100%

.form-status
  box-shadow: 0 5px 12px rgba(var(--clr-black), 0.2)
  border-radius: 1px
  padding: 1em 2em
  max-width: 400px
  width: 100%

.form-status--success


.form-status--error
  color: var(--clr-alert)