.footer
  display: flex
  align-items: center
  justify-content: center
  padding: 2.5em
  z-index: 2

.social-github
  color: $clr-black
  height: 40px
  width: 40px
  display: flex
  align-items: center
  justify-content: center
