.footer-logo
  height: 6rem
  margin: 10rem auto 0
  max-width: 40rem
  position: relative
  z-index: 0

  img
    position: absolute
    top: 0
    left: 47%
    transform: translateX(-50%)
    max-width: 100%

.footer-content
  display: flex
  align-items: center
  justify-content: center
  padding: 2.5em
  position: relative
  z-index: 2

  .btn-darkMode
    margin-left: 2rem

.social-links
  display: flex
  align-items: center
  justify-content: center

.social-link
  color: var(--clr-black)
  height: 20px
  width: 20px
  display: flex
  align-items: center
  justify-content: center

  svg
    width: 100%
    height: 100%

  &:not(:first-child)
    margin-left: 1rem  
