.btn
  background: $clr-black
  box-shadow: 0 2px 10px rgba($clr-black, 0.2)
  border: 0
  border-radius: 20px
  color: $clr-white
  cursor: pointer
  padding: 5px 20px
  text-decoration: none
  text-transform: uppercase

.cta-btn
  background: $clr-black
  border-radius: 20px
  padding: 5px 20px
  color: $clr-white
  text-decoration: none
  text-transform: uppercase